*.icon-white{color: white}
*.icon-silver{color: silver}
*.icon-green{color: green}
*.icon-dark{color: gray}
*.icon-red{color: red}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; cursor: pointer; }
a:active { text-decoration: none; }
*.no-text-decoration{
	text-decoration: none;
}
*.background-img{
	 background: url('/images/buffaloImage.jpg')
                no-repeat center center fixed;
    background-size: cover;
}
ul{
	list-style-type: none;
}

*.dropdown-list:hover{
	background: rgba(33,37,41);
	color: white;
	cursor:pointer;
}
i:hover{
		cursor:pointer;
}

*.img_method{
	 border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    right: 10px;
    left:200px;
    margin-bottom: 70px;
}
*.member{
	border-radius: 8px;
	width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

*.title-box {
  border: 1px solid #ccc; /* Border style */
  padding: 10px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  background-color: rgb(0, 128, 192); /* Background color */
  margin-bottom: 50px;
  font-family: Georgia, serif; /* Change font family */
  font-size: 25px; /* Change font size */
  font-weight: bold; /* Change font weight */
  font-style: italic; /* Change font style */
  color: #333; /* Change font color */
}

*.member-info-content{
	font-family: Georgia, serif; /* Change font family */
	color: rgb(0, 64, 128); /* Change font color */
	text-align: center;
	padding: 10px 20px;
}
*.popup-container{
  	position: relative;
}
*.globe-container{
	height: 150px;
	width: 150px;
	position: absolute;
	right:10px;
}
*.overlay{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(248,249,250, 0);
  visibility: hidden;
}

*.overlay-loader{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(38,80,115, 0.8);
  visibility: hidden;
  z-index:3;
}
*.parent{
	position: relative;
	height: 100%;
}
*.overlay-loader-pie{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(38,80,115);
  visibility: hidden;
  z-index:3;
}
*.popup-loader{
	background: rgba(255,255,255,1);
	margin:300px auto;
	width: fit-content;
	padding: 20px;
	border-radius: 10px;
}
*.popup-table{
	background: rgba(38,80,115, 0.9);
	margin:200px auto;
	width: 75%;
	color:white;
	
}
*.popup-piechart{
	background: rgba(38,80,115);
	margin:100px auto;
	width: fit-content;
	color:white;
	
}
*.popup-heatmap{
	background: rgba(38,80,115);
	margin:50px auto;
	max-width: 80%;
	width: fit-content;
	color:white;
	overflow:auto;
	
} 
#piechart{
	z-index:3;
}
*.fixed{
		position: fixed;
}
*.close{
	z-index:-1
}
*.nav-border-style{
	background: rgb(21,245,186);

    border-radius: 50px 20px;
}
*.nav-bg{
	background-color:#265073;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 50px;
}
*.body-bg{
	background: #1B1A55;
}

*.btn-dropdown-bg{
	background: rgb(21,245,186);
	border-radius: 5px;
}

*.footer{
background: rgb(21,245,186);
background: linear-gradient(90deg, rgba(21,245,186) 0%, rgba(9,9,121,1) 100%, rgb(38,80,115) 100%);
color:white;
padding:10px;
}

*.sub-footer{
	
text-align: center;
}
*.rounded-border{
	border-radius:10px;
	overflow:hidden;
}

*.topNavBar{

	border-radius:10px;
}

*.spinning {

    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotateY(180deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotateY(180deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotateY(180deg); 
        transform:rotateY(180deg); 
    } 
}

*.heatmap-container{
	padding-bottom: 10px;
	overflow:scroll;
	height: 400px;
	width: fit-content;
}
#overlay-heatmap{
	z-index:-2; 
}

*.stat-container{

	margin-bottom: 50px;
	margin-top:50px

	
}
*.stat-header{
	margin-bottom: 20px;

	
}
*.stat-card{
	height:fit-content;
	width: 130px;
	background-color: whitesmoke;
	box-shadow: 0 10px 15px -3px #7c2d12, 0 4px 6px -4px #7c2d12;
	padding-top: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
  	align-items: center;
  	transition: transform 0.3s ease;
  
}
*.stat-card:hover{
	cursor:pointer;
	box-shadow: 0 10px 15px -3px #fed7aa, 0 4px 6px -4px #fed7aa;
	transform: scale(1.2);
}
*.stat-text-header{
	
}
*.stat-header{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

*.intro{
	background-color:whitesmoke;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	padding:10;
	text-align:center;
}
