<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Database Admin Control Panel</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	<div class="container-fluid">
		<div>
			<div class="nav-bg">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg text-white nav-border-style">
							<div>
								<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/icar.png}" height="100px" width="100px" class='spinning'/>
								</a>
							</div>
							<h1 class="mx-5 px-5">BUFFEXDB</h1>
								
						</nav>
					</div>
					<div class="col">
						<div class="d-flex align-items-center text-white">
						
						<marquee behavior="scroll" direction="left"><h1>Buffalo Expression Database</h1></marquee>
						<div class="d-flex align-items-center justify-content-end pt-2 px-5">
						    
							<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/iasris.jpeg}" height="100px" width="100px"/>
							</a>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav-with-button-bg">
			<nav class="navbar navbar-expand-lg text-nowrap fw-bold">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
						<div class="collapse navbar-collapse topNavBar" id="topNavbar" aria-haspopup="true" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/}">Home</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/about}">Teams</a>
						</li>
						
						<li class="nav-item text-white fs-5">
							 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							      <ul class="navbar-nav">
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							            Browse
							          </a>
							          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							            <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
								    	<li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue}">Expressions</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue_specific_genes}">Tissue Specific Genes</a></li>
							          </ul>
							        </li>
							      </ul>
							  </div>
							</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/downloads}">Downloads</a>
						</li>
					</ul>					
			</div>			
<!--  				<div class="btn-group dropstart btn-dropdown-bg">
					  <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
					    Database
					  </button>
				  	<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">				    <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
				    <li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
						    <li><a class="dropdown-item" th:href="@{/database/tissue}">Expressions</a></li>
				  	</ul>
				</div> -->	
			</nav>
		</div>
		
		<div class="overflow-hidden" style="height:350px">
			<img  class="img-fluid w-100" th:src="@{/images/about.jpeg}" />			
		</div>
		
		<div class="footer">
			<div class="sub-footer pt-2">
				<h1>Database - Buffalo Expression DB</h1>
			</div>
			<div class="sub-footer">
				<p>Database Control Panel - Copyright &copy; IASRI</p>
			</div>
		</div>
		
	</div>
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>