<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Database Admin Control Panel</title>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="parent">
	<div class="container-fluid">
		<div>
			<div class="nav-bg">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg text-white nav-border-style">
							<div>
								<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/icar.png}" height="100px" width="100px" class='spinning'/>
								</a>
							</div>
							<h1 class="mx-5 px-5">BuFFExDB</h1>
								
						</nav>
					</div>
					<div class="col">
						<div class="d-flex align-items-center text-white">
						
						<marquee behavior="scroll" direction="left"><h1>Buffalo Expression Database</h1></marquee>
						<div class="d-flex align-items-center justify-content-end pt-2 px-5">
						    
							<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/iasris.jpeg}" height="100px" width="100px"/>
							</a>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav-with-button-bg">
			<nav class="navbar navbar-expand-lg text-nowrap fw-bold">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		<div class="collapse navbar-collapse topNavBar" id="topNavbar" aria-haspopup="true" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/}">Home</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/about}">Teams</a>
						</li>
						
						<li class="nav-item text-white fs-5">
							 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							      <ul class="navbar-nav">
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							            Browse
							          </a>
							          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							            <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
								    	<li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue}">Expression data</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue_specific_genes}">Tissue Specific Genes</a></li>
							          </ul>
							        </li>
							      </ul>
							  </div>
							</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/downloads}">Downloads</a>
						</li>
					</ul>					
			</div>					
			</nav>
		</div>
		<div class="overflow-hidden" style="height:350px">
		<img  class="img-fluid w-100" th:src="@{/images/dna-made.jpg}" />		
		</div>
		<div class="border">
			<div class="p-2 d-grid gap-3">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								<div class="">
									<select class="form-select" id="select_tissue">
										  <option disabled selected>Select Tissue</option>				  
										  <option th:each="tissue, iStat: ${listTissues}" th:value="${tissue.url}" >[[${tissue.tissue}]]</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="d-flex align-items-center">
									<div class="form-check m-2">
									  <input class="form-check-input" type="checkbox" value="" id="cb_fpkm" checked onclick="checkBox_expLevel(this)">
									  <label class="form-check-label" for="flexCheckDefault">
									    FPKM
									  </label>
									</div>
									<div class="form-check mx-2">
									  <input class="form-check-input" type="checkbox" value="" id="cb_tpm" onclick="checkBox_expLevel(this)">
									  <label class="form-check-label" for="flexCheckChecked">
									   TPM
									  </label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col ">
						<div class="d-flex justify-content-end">
							<button type="button" class="btn btn-success" onclick="fetchGenes(this)">Download <i class="fa-solid fa-download"></i></button>		
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col ">
						<div class="d-flex justify-content-start" id="btn_heatmap" style="visibility:hidden;">
							<button type="button" class="btn btn-success" onclick="showHeatMap(this)">Show Heat Map</button>		
						</div>
					</div>
				</div>
			</div>
	 		<div class="overflow-auto text-nowrap p-2">
	 			<div>
		 			<table class="table table-hover table-bordered" id="genes">
					  <thead class="table-dark">
					  </thead>
					  <tbody>
					    
					  </tbody>
					</table>
				</div>
<!--  	 			<div class="overlay-loader" id="table_loader_bg">
	 				<div class="fixed w-100">
	 					<div class="popup-loader" id="table_loader">
						</div>
	 				</div>					
 				</div >-->
			</div>
		</div>
		
		<div class="mx-auto mt-2" style="width: 500px;">
			<div class="justify-content-center text-center" id="pageInfo" >
		
			</div>
		 	<ul class="pagination justify-content-center">
			   <li id="firstPage"><a class="page-link">First</a></li>
			    <li id="previousPage"><a class="page-link">Previous</a></li>
			   
			    <li id="nextPage"><a class="page-link" >Next</a></li>
			     <li id="lastPage"><a class="page-link" >Last</a></li>
			</ul>
		</div>
		<div class="footer">
			<div class="sub-footer pt-2">
				<h1>Database - Buffalo Expression DB</h1>
			</div>
			<div class="sub-footer">
				<p>Database - Copyright &copy; IASRI</p>
			</div>
		</div>
		<div class="overlay text-nowrap" id="overlay">
			<div class="fixed w-100">
			<div class="popup-table border rounded p-3">
			<div class="close d-flex flex-row-reverse bd-highlight" id="close">
				<i onclick="closePopup(this)" class="fa-regular fa-rectangle-xmark"></i>
			</div>
			 <div class="p-2 d-flex align-items-center">
			 	<div class="p-2">
			 		<h3 id='popup-desc'>Sample Description</h3>
			 	</div>
			 	<div class="p-2">
			 		<i class="fa-solid fa-download"></i>
			 	</div>
			 	 
			 </div>
			 <div class="container overflow-auto">
					<table class="table table-hover table-bordered" id="popup-table-view">
		 			 <thead class="table-bordered">
		  			</thead>
		  			<tbody>
		    
		  			</tbody>
				</table>
			</div>		
			</div>
			</div>		  
		</div>
			<div class="overlay text-nowrap" id="overlay-heatmap">
			<div class="fixed w-100">
			<div class="popup-heatmap border rounded p-3">
			<div class="close d-flex flex-row-reverse bd-highlight" id="close-heatmap">
				<i onclick="closeHeatMap(this)" class="fa-regular fa-rectangle-xmark"></i>
			</div>
			 <div class="p-2 d-flex justify-content-center align-items-center gap-3">
			 	<div>
			 		<h3>Select FPKM Range</h3>
			 	</div>
			 	<div class="">
			 		<div class="input-group">
					  <input type="number" step="any" class="form-control" placeholder="From" aria-label="From" value="1" aria-describedby="button-addon2" id="from">
					  <input type="number" step="any" class="form-control" placeholder="to" aria-label="to" value="10" aria-describedby="button-addon2" id="to">
					  <button class="btn btn-success" type="button" id="btn-fpkm-range">Submit</button>
					</div>
			 	</div> 	 
			 </div>
			 <div class="heatmap-container">
			 	<div id="tester" style="width:fit-content;height:fit-content;" class="" ></div>
			 </div>
			 
				
			</div>
			</div>		  
		</div>
	</div>
	<div class="overlay-loader" id="table_loader_bg">
	 				<div class="fixed w-100">
	 					<div class="popup-loader" id="table_loader"></div>
					</div>
	</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript">
var	init = 0;
var	last = 10;
var pageSize = 10;
var pageNum = 1;
var totalRecords = 0;
var totalPages = 0;
var numberOfRecordsOfLastPage = 0;
var fetchedData = [];
var globalData = [];
var checkedData = new Set();
var uncheckedData = new Set();
var idSet = [];
var isCheckAll = false;
var isExpanded = false;
isTpm = false;
isFpkm = true;
var tissue_selected = "";
var sum_of_fpkm = {};
var geneIds = new Array();
var expressionKeys = new Array();
var expressionValues = new Array();

function plotHeatMap(){
	var customColorScale = [
	      [0, 'rgb(122,162,227)'],  // Define color for minimum value
	      [1, 'rgb(248,246,227)']        // Define color for maximum value
	    ];
	var layout = {
	      title: `Heat Map - ${tissue_selected}`,
	      xaxis: {
	        title: 'X - SRA Run ID'
	      		},
      		yaxis: {
        		title: 'Y - Gene Names'
      			},
   			zaxis: {
        		title: 'Z - FPKM Values'
      			},
	      margin: {
	        t: 50,  // Increase top margin
	        l: 150,  // Increase left margin
	        b: 100,
	      },
		  height: 800,  // Increase height
	      width: 1000,
//	      coloraxis: {
//	        colorscale: customColorScale  // Apply custom color scale
//	      }
	    };
	var data = [
	  {
	    z: [...expressionValues],
	    x: [...expressionKeys],
	    y: [...geneIds],
	    type: 'heatmap',
	    hoverongaps: false
	  }
	];
	$('#tester').empty()
	Plotly.newPlot('tester', data, layout);
	
}




async function perpareHeatMap(lowerLimit=1, upperLimit=10){

	geneIds = []
	expressionKeys = []
	expressionValues = []
	selectedText = $('#select_tissue').find(":selected").text();
	uri =  $('#select_tissue').find(":selected").val();
	url_1 = `[[@{/${uri}/sorted}]]` + `?lowerLimit=${lowerLimit}&upperLimit=${upperLimit}`

	await $.get(url_1, function(data, status){
	console.log(data)
		if(data && data.length !=0){
			object1 = data[0];
			for(const [key, value] of Object.entries(object1)){	
				if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
						expressionKeys.push(key.toUpperCase());
						}
				}
			for(object of data){
				expression = new Array()
				for(const [key, value] of Object.entries(object)){	
						if(key.toUpperCase() == 'GENEID'){
							geneIds.push(value.replace('gene-', ""))
						}
						if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
							expression.push(value);
						}				
					}
					expressionValues.push(expression);
			}
			plotHeatMap();
		}
		else{
			alert("No Data Found")
		}
	
	})
}

function getTPM(fpkm, key){
	let result = fpkm*(Math.pow(10, 6)/(sum_of_fpkm[key]));	
	return (Math.round(result*100))/100;
}

function hideLoader(){
	$("#table_loader").empty();
	document.getElementById("table_loader_bg").style.visibility = "hidden";
}

function renderLoader(){
	document.getElementById("table_loader_bg").style.visibility = "visible";
	loader = `<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span class="visually-hidden">Loading...</span></div>`;
	$("#table_loader").append(loader);
}

$("#select_tissue").change(function(){
	
	renderLoader();
	selectedText = $(this).find(":selected").text();
	uri = $(this).find(":selected").val();

	url_1 = `[[@{/${uri}/sum}]]`
	url_2 = `[[@{/${uri}}]]`
	tissue_selected = selectedText;
	
	$.get(url_1, function(data, status){
		sum_of_fpkm = data;
		console.log(sum_of_fpkm);	
	})

	$.get(url_2,function(data, status){
		hideLoader();
		fetchedData = data;
		globalData = data;
		console.log("data fetched")
		console.log(data)
		console.log(status)
		console.log(globalData)
		renderTableNew();
		totalRecords = data.length;
              totalPages = Math.ceil(totalRecords/pageSize);
           	numberOfRecordsOfLastPage = totalRecords%pageSize;
		pagination();
		perpareHeatMap();
	})

})

function showHeatMap(){
	
	document.getElementById("overlay-heatmap").style.visibility = "visible";
	document.getElementById("overlay-heatmap").style.zIndex = "10";

}

document.getElementById("btn-fpkm-range").addEventListener("click", function(event){
	lowerLimit = $('#from').val();
	upperLimit = $('#to').val();
	perpareHeatMap(lowerLimit, upperLimit);


});

function renderTableNew(){
	isExpanded=false;	
	headerRow = "";
	let object1 = globalData[0];
	
	document.getElementById("btn_heatmap").style.visibility = "visible";
	
	if(isCheckAll){
		headerRow = `<tr><td><div class="form-check"><input checked="true" onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
	}
	else{
		headerRow = `<tr><td><div class="form-check"><input onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
		}
	for(const [key, value] of Object.entries(object1)){
		td="";
		if(key.toUpperCase() == 'GENE'){
			td = `<td><div>GENE ID <i class="fa-solid fa-circle-plus ml-5"></i></div></td>`;
		}
		else if(key.toUpperCase() == 'ID'){
			continue;
		}
			
		else if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
	
			if(isFpkm){
				td = td + `<td><a onclick="showSampleDescription(this)">${key.toUpperCase()} </a>(FPKM)</td>`;
			}
			if(isTpm){
				td = td + `<td><a onclick="showSampleDescription(this)">${key.toUpperCase()}</a> (TPM)</td>`;
			}		
		}
		else{
			td = `<td>${key.toUpperCase()}</td>`;
		}
		headerRow = headerRow + td;
		}
	headerRow = headerRow + "</tr>";			
	$("#genes").find("thead").empty();
  	$("#genes").find("tbody").empty();
	$("#genes").find("thead").append(headerRow);
	
	
	for(let i=init;i<last;i++){
		dataRow="<tr>";
		object1 = globalData[i];

		
		if(checkedData.has(object1.geneId)){
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.geneId}></div></td>`;

		}
		else{
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" value=${i} id=${object1.geneId}></div></td>`;
		}
		for(const [key, value] of Object.entries(object1)){		
			td="";
			if(key.toUpperCase() == 'GENEID'){
				td = `<td><a style="color:blue;" onclick="showGeneDescription(this)">${value}</a></td>`;
			}
			else if(key.toUpperCase() == 'ID'){
				continue;
			}				
			else if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
				
				if(isFpkm){
					
					td = td + `<td>${value}</td>`;
				}
				if(isTpm){
				    tpm = getTPM(value, key.toUpperCase());
					td = td + `<td>${tpm}</td>`;
				}
				
			}
			else{
				td = `<td>${value}</td>`;
			}
			dataRow = dataRow + td;
		}
		dataRow = dataRow + "</tr>";

		$("#genes").find("tbody").append(dataRow);	
	}
}
function expand(){
	renderWithGeneInfoNew(tissue_selected)
}

function collapse(){
	renderTableNew(tissue_selected)
}


function closePopup(event){
	document.getElementById("overlay").style.visibility = "hidden";
}
function closeHeatMap(event){
	document.getElementById("overlay-heatmap").style.visibility = "hidden";
	document.getElementById("overlay-heatmap").style.zIndex = "-2";
}
function showGeneDescription(event){
	
	let geneId = event.innerHTML.split("(")[0].trim();
	console.log(geneId)
	headerRow = "";
	var object1 = {};
	document.getElementById("popup-desc").innerHTML = "Gene Description";
	document.getElementById("overlay").style.visibility = "visible";
	url = "[[@{/gene/api/genes/}]]" + geneId;
	$.get(url, function(data, status){
		object1 = data;
		console.log(data);
		
		for(const [key, value] of Object.entries(object1)){	
			headerRow = headerRow + `<td class="p-2">${key.toUpperCase()}</td>`;		
			}
		$("#popup-table-view").find("thead").empty()
		$("#popup-table-view").find("tbody").empty();
		$("#popup-table-view").find("thead").append(headerRow);
			
		dataRow="<tr>";
		//dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.gene.geneId}></div></td>`;
	
		for(const [key, value] of Object.entries(object1)){					
			dataRow = dataRow + `<td class="p-2">${value}</td>`;
			}
		dataRow = dataRow + "</tr>";
		$("#popup-table-view").find("tbody").append(dataRow);  
			
	})
}
function showSampleDescription(event){
	runId = event.innerHTML.split("(")[0].trim();
	document.getElementById("popup-desc").innerHTML = "Sample Description";
	document.getElementById("overlay").style.visibility = "visible";
	headerRow = "";
	var object1 = {};
	url = "[[@{/sample_description/api/sample_descriptions/}]]" + runId;
	$.get(url, function(data, status){
		object1 = data;
		console.log(data);
		//headerRow = `<tr><td><div class="form-check"><input checked="true" onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
		for(const [key, value] of Object.entries(object1)){
			
			headerRow = headerRow + `<td class="p-2">${key.toUpperCase()}</td>`;		
			}
		$("#popup-table-view").find("thead").empty()
		$("#popup-table-view").find("tbody").empty();
		$("#popup-table-view").find("thead").append(headerRow);
			
		dataRow="<tr>";
		//dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.gene.geneId}></div></td>`;
	
		for(const [key, value] of Object.entries(object1)){					
			dataRow = dataRow + `<td class="p-2">${value}</td>`;
			}
		dataRow = dataRow + "</tr>";
		$("#popup-table-view").find("tbody").append(dataRow);  
		});
	
}

$( document ).ready(function() {
	
	url = "[[@{/gene/api/genes/geneId/all}]]"
	$.get(url, function(data, status){
		uncheckedData = new Set(data);
		idSet = data;
	});
});

document.getElementById("firstPage").addEventListener("click", function(event){
		if(pageNum>1){
			init = 0;
			last = 10;
			pageNum = 1;
			pagination();
	  		event.preventDefault();
			$("#genes").find("tbody").empty();
			if(isExpanded){
				expand(tissue_selected);
				
			}else{
				collapse(tissue_selected);
			}
		}
		
});
document.getElementById("nextPage").addEventListener("click", function(event){

		if(pageNum!=totalPages){
			init = init + pageSize;
			last = last + pageSize;
			if(last>totalRecords){
				last = last - numberOfRecordsOfLastPage; 
			}
			pageNum = pageNum + 1;
			pagination();
	  		event.preventDefault();
	  		
			if(isExpanded){
				expand(tissue_selected);
				
			}else{
				collapse(tissue_selected);
			}
		}

});
document.getElementById("lastPage").addEventListener("click", function(event){
		if(pageNum!=totalPages){
			var new_init = totalRecords - numberOfRecordsOfLastPage;
			var new_last = totalRecords;
			init = new_init;
			last = new_last;
			pageNum = totalPages;
			pagination();
	  		event.preventDefault();
	  		if(isExpanded){
				expand(tissue_selected);
				
			}else{
				collapse(tissue_selected);
			}
		}
});
document.getElementById("previousPage").addEventListener("click", function(event){

		if(pageNum>1){
			pageNum = pageNum - 1;
			init = init - pageSize;
			
			if(pageNum == totalPages - 1){
				last = last - Math.ceil(pageSize/2);
			}
			else{
				last = last - 10;
			}
			pagination();
	  		event.preventDefault();
	  		if(isExpanded){
				expand(tissue_selected);
				
			}else{
				collapse(tissue_selected);
			}
		}
 	
});

function pagination(){
	var pageInfo = "";
	$("#pageInfo").empty();
	if(pageNum<=1){
		$("#firstPage").addClass("page-item disabled");
		$("#previousPage").addClass("page-item disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");	
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${1} to ${totalRecords} of ${totalRecords}</span>`		
		}
	}
	else if(pageNum>1){
		$("#firstPage").removeClass("disabled");
		$("#previousPage").removeClass("disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${totalRecords - numberOfRecordsOfLastPage} to ${totalRecords} of ${totalRecords}</span>`
		}
	}
	$("#pageInfo").append(pageInfo);
}
	function validateCheckBox(form){
		init=0;
		last=1;
		totalRecords = 1
		totalPages = 1
		pageNum=1;
		checkedData = new Set();
		pagination();
	    $("#genes").find("tbody").empty();
		var selectedValue = $("input[name=searchParam]:checked").val();
		var textValue = $("input[name=searchText]").val();
		if(textValue == "+"){
			textValue = "%2B";
		}
		if(!selectedValue){
            $("#radio-error").text("Please select a search parameter");   
            } 
         else {  
	         $("#radio-error").empty();
	         
	         url = "[[@{/sample_description/api/sample_descriptions/query/runIds}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
	         $.get(url, function(data, status){	
	         		idSet = new Set(data);
         	});
         	console.log(selectedValue, ":", textValue)
			url = "[[@{/sample_description/api/sample_descriptions/query}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
			$.get(url, function(data, status){
				console.log(status)
				globalData = data;
				if(data.length==0){
					pageInfo = `No Records found`
					init=0;
					last=0;
					$("#pageInfo").empty();
					$("#pageInfo").append(pageInfo);
				}
				else{
					init=0;
					last=pageSize;
					if(globalData.length<pageSize){
						last = globalData.length;
					}
					totalRecords = globalData.length;
					totalPages = Math.ceil(globalData.length/pageSize);
					numberOfRecordsOfLastPage = totalRecords%pageSize;
					pagination();
					renderTable(globalData)
				}
			  });	
         }
		return false;
	}
	
	$(document).ready (function () {  
    $('#genes').after ('<div id="nav"></div>');  
    var rowsShown = 5;  
    var rowsTotal = $('#data tbody tr').length;  
    var numPages = rowsTotal/rowsShown;  
    for (i = 0;i < numPages;i++) {  
        var pageNum = i + 1;  
        $('#nav').append ('<a href="#" rel="'+i+'">'+pageNum+'</a> ');  
    }
    });
    
function checkBox(checkbox){
	index = checkbox.value;
	id = checkbox.id;
	if($(`#${id}:checkbox:checked`).length>0){
		checkedData.add(id)
		uncheckedData.delete(id)
		
	}else{
		checkedData.delete(id)
		uncheckedData.add(id)
		isCheckAll = false;
	}
	if(isExpanded){
		renderWithGeneInfoNew(tissue_selected)
			
	}else{
		renderTableNew(tissue_selected)
	}
}
 
function checkBox_expLevel(checkbox){
	//index = checkbox.value;
	
	id = checkbox.id;

	if($(`#${id}:checkbox:checked`).length>0){
		if(id=='cb_fpkm') isFpkm = true;
		if(id=='cb_tpm') isTpm = true;

	}else{
			if(id=='cb_fpkm') isFpkm = false;
			if(id=='cb_tpm') isTpm = false;
	}
	if(isExpanded){
		renderWithGeneInfoNew(tissue_selected)
			
	}else{
		renderTableNew(tissue_selected)
	}
}


 function checkAll(checkbox){	 
 	if ($(checkbox).is(':checked')) {
 		    isCheckAll = true;
	 		checkedData = new Set(idSet);	
	 		uncheckedData = new Set(); 		

    } else {
    	    isCheckAll = false;
			checkedData = new Set();
	 		uncheckedData = new Set(idSet);
 	}
 	if(isExpanded){
			renderWithGeneInfoNew(tissue_selected)
			
		}else{
			renderTableNew(tissue_selected)
		}
 	
 }
 
 function fetchGenes(btn){
 	payload_1 = [...checkedData]
 	payload_2 = payload_1.splice(0, Math.floor(payload_1.length/2));
 	resposeData_1 = [];
 	responseData_2 = [];
 	url = "[[@{/sample_description/api/sample_descriptions/download/runIds}]]"
 	params = {runIds: payload_1};
 	$.post(url, params, function(data, status){
 		responseData_1 = data;
 		index = responseData_1.indexOf("\n")
        responseData_1 = responseData_1.substring(index+1, responseData_1.length);
 		params = {runIds: payload_2};
 		$.post(url, params, function(data, status){
	 		responseData_2 = data;
	 		responseData = responseData_2.concat(responseData_1);
	 		const blob = new Blob([responseData], { type: 'text/csv' });
	 		const urls = window.URL.createObjectURL(blob);
	 		const a = document.createElement('a');
		    a.setAttribute('href', urls);
		    a.setAttribute('download', 'sample_description.csv'); 
		    a.click();
	     	});
 	});
 }

</script>
</body>
</html>