<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Database Admin Control Panel</title>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
</head>
<body>
<div class="parent">
	<div class="container-fluid">
		<div>
			<div class="nav-bg">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg text-white nav-border-style">
							<div>
								<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/icar.png}" height="100px" width="100px" class='spinning'/>
								</a>
							</div>
							<h1 class="mx-5 px-5">BuFFExDB</h1>
								
						</nav>
					</div>
					<div class="col">
						<div class="d-flex align-items-center text-white">
						
						<marquee behavior="scroll" direction="left"><h1>Buffalo Expression Database</h1></marquee>
						<div class="d-flex align-items-center justify-content-end pt-2 px-5">
						    
							<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/iasris.jpeg}" height="100px" width="100px"/>
							</a>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav-with-button-bg">
			<nav class="navbar navbar-expand-lg text-nowrap fw-bold">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
					<div class="collapse navbar-collapse topNavBar" id="topNavbar" aria-haspopup="true" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/}">Home</a>
						</li>
						
						
						
						<li class="nav-item text-white fs-5">
							 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							      <ul class="navbar-nav">
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							            Browse
							          </a>
							          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							            <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
								    	<li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue}">Expression data</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue_specific_genes}">Tissue Specific Genes</a></li>
							            <li><a class="dropdown-item" th:href="@{/database/pathways}">Functional Classification</a></li>
							          </ul>
							        </li>
							      </ul>
							  </div>
							</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/about}">Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/downloads}">Downloads</a>
						</li>
					</ul>					
			</div>				
			</nav>
		</div>
		
		<div class="overflow-hidden" style="height:400px">
		<img  class="img-fluid w-100" th:src="@{/images/tissue4_new.jpg}" />			
		</div>
		<div class="border">
			<div class="p-2">
			<div class="row w-100" >
				<div class="col">
				
				<select id="select-tissue" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
				  <option selected disabled th:value=${null}>Select Tissue</option>
				  <option th:each="tissue, iStat: ${tissue_list}" th:value=${iStat.current}>[[${tissue}]]</option>
				</select>
			
				</div>
				<div class="col">
					<select id='select-specificity' class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
					  <option selected disabled th:value=${null}>Select Specificity</option>
					  <option th:each="tissue_sp, iStat: ${tissue_sp}" th:value=${tissue_sp}>[[${tissue_sp}]]</option>
					</select>
				</div>				
			</div>
			<div class="d-flex flex-row">
				<div class="m-2">
						<button type="button" class="btn btn-success" onclick="fetchGenes(this)">Download Selected</button>		
					</div>
				<div class="m-2">
					<button type="button" class="btn btn-success" onclick="showPieChart(this)">Show Statistics</button>		
				</div>
			</div>
			
 		<div class="overflow-auto p-2 text-nowrap">
 		<table class="table table-striped border table-bordered" id="genes">
			  <thead class="table-dark">
			  </thead>
			  <tbody>
			    
			  </tbody>
			</table>
		</div>
		<div class="overlay-loader" id="table_loader_bg">
	 				<div class="fixed w-100">
	 					<div class="popup-loader" id="table_loader">
						</div>
	 				</div>					
 				</div>
		</div>
		
		<div class="mx-auto mt-2" style="width: 500px;">
			<div class="justify-content-center text-center" id="pageInfo" >
		
			</div>
		 	<ul class="pagination justify-content-center">
			   <li id="firstPage"><a class="page-link">First</a></li>
			    <li id="previousPage"><a class="page-link">Previous</a></li>
			   
			    <li id="nextPage"><a class="page-link" >Next</a></li>
			     <li id="lastPage"><a class="page-link" >Last</a></li>
			</ul>
		</div>

		<div class="footer">
			<div class="sub-footer pt-2">
				<h1>Database - Buffalo Expression DB</h1>
			</div>
			<div class="sub-footer">
				<p>Database Control Panel - Copyright &copy; IARI</p>
			</div>
		</div>
	</div>

<!-- --------------------------------------------------------------------------------------------------------- -->
		<div class="overlay text-nowrap" id="overlay">
			<div class="fixed w-100">
			<div class="popup-piechart border rounded p-3">
			<div class="close d-flex flex-row-reverse bd-highlight" id="close">
				<i onclick="closePopup(this)" class="fa-regular fa-rectangle-xmark"></i>
			</div>
			 <div class="p-2 d-flex align-items-center">
			 	<div class="p-2">
			 		<h3>Statistics</h3>
			 	</div>		 	 
			 </div>
			 <div class="container overflow-auto">
				<div id='piechart'>

				</div>
			</div>		
			</div>
			</div>		  
		</div>
		<div class="overlay text-nowrap" id="overlay_desc">
			<div class="fixed w-100">
			<div class="popup-table border rounded p-3">
			<div class="close d-flex flex-row-reverse bd-highlight" id="close">
				<i onclick="closePopup_desc(this)" class="fa-regular fa-rectangle-xmark"></i>
			</div>
			 <div class="p-2 d-flex align-items-center">
			 	<div class="p-2">
			 		<h3 id='popup-desc'>Sample Description</h3>
			 	</div>
			 	<div class="p-2">
			 		<i class="fa-solid fa-download"></i>
			 	</div>
			 	 
			 </div>
			 <div class="container overflow-auto">
					<table class="table table-hover table-bordered" id="popup-table-view">
		 			 <thead class="table-bordered">
		  			</thead>
		  			<tbody>
		    
		  			</tbody>
				</table>
			</div>		
			</div>
			</div>		  
		</div>
		</div>
			<div class="overlay-loader" id="table_loader_bg">
	 				<div class="fixed w-100">
	 					<div class="popup-loader" id="table_loader"></div>
					</div>
	</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript">
var	init = 0;
var	last = 10;
var pageSize = 10;
var pageNum = 1;
var totalRecords = 0;
var totalPages = 0;
var numberOfRecordsOfLastPage = 0;
var geneData = [];
var globalData = [];
var checkedGeneData = new Set();
var uncheckedGeneData = new Set();
var geneIdSet = new Set();
var isCheckAll = false;
var checkedData = new Set();
var pie_chart_values = new Array();
var pie_chart_labels = new Array();
var specificity = undefined;
var tissueName = undefined;
var idSet = new Set();
$( document ).ready(function() {
	renderLoader()
	url = "[[@{/gene/api/genes/geneId/all}]]"
	$.get(url, function(data, status){
		hideLoader();
		uncheckedData = new Set(data);
		idSet = new Set(data);
	}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
 
});
function renderTable(){
	init = 0;
	last = 10;
	pageNum = 1;
	renderTableNew();
	totalRecords = globalData.length;
    totalPages = Math.ceil(totalRecords/pageSize);
    numberOfRecordsOfLastPage = totalRecords%pageSize;
  	pagination();
  	hideLoader();
	
}
function hideLoader(){
	$("#table_loader").empty();
	document.getElementById("table_loader_bg").style.visibility = "hidden";
	document.getElementById("table_loader_bg").style.zIndex = "-1";
}

function renderLoader(){
	document.getElementById("table_loader_bg").style.visibility = "visible";
	document.getElementById("table_loader_bg").style.zIndex = "1";
	loader = `<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span class="visually-hidden">Loading...</span></div>`;
	$("#table_loader").append(loader);
}

function closePopup_desc(event){
	document.getElementById("overlay_desc").style.visibility = "hidden";
	document.getElementById("overlay_desc").style.zIndex = "-1";
}

function showGeneDescription(event){
	renderLoader();
	let geneId = event.innerHTML.split("(")[0].trim();

	headerRow = "";
	var object1 = {};
	document.getElementById("popup-desc").innerHTML = "Gene Description";
	document.getElementById("overlay_desc").style.visibility = "visible";
	document.getElementById("overlay_desc").style.zIndex = "1";
	url = "[[@{/gene/api/genes/}]]" + geneId;
	$.get(url, function(data, status){
		hideLoader();
		object1 = data;
		for(const [key, value] of Object.entries(object1)){	
			headerRow = headerRow + `<td class="p-2">${key.toUpperCase()}</td>`;		
			}
		$("#popup-table-view").find("thead").empty()
		$("#popup-table-view").find("tbody").empty();
		$("#popup-table-view").find("thead").append(headerRow);
			
		dataRow="<tr>";
		//dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.gene.geneId}></div></td>`;
	
		for(const [key, value] of Object.entries(object1)){					
			dataRow = dataRow + `<td class="p-2">${value}</td>`;
			}
		dataRow = dataRow + "</tr>";
		$("#popup-table-view").find("tbody").append(dataRow);  
			
	}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
}

document.getElementById("select-tissue").addEventListener("change", function(event){
	renderLoader();
 	tissueName = event.target.options[event.target.selectedIndex].innerHTML;
 	console.log(tissueName)
 	if(tissueName && specificity){
 		console.log("Both Selected")
 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter}]]" + `?tissueName=${tissueName}&tissueSpecificity=${specificity}`
 		$.get(url, function(data, status){
			hideLoader();
 			if(data && data.length>0){

 				globalData = data;
 				renderTable();
 			}
 			else{
 				console.log("0 Records returned")
 			}
 		
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
 		
 	}
 	else if(tissueName){
 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter/tissueName}]]" + `?tissueName=${tissueName}`
 		$.get(url, function(data, status){
 		hideLoader();
 			if(data && data.length>0){

 				globalData = data;
 				renderTable();
 			}
 			else{
 				console.log("0 Records returned")
 			}
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
 		
 	}
 	else if(specificity){
 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter/tissueSpecificity}]]" + `?tissueSpecificity=${specificity}`
 		$.get(url, function(data, status){
			hideLoader()
 			if(data && data.length>0){

 				globalData = data;
 				renderTable();
 			}
 			else{
 				console.log("0 Records returned")
 			}
 		
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
 	}
 	else{
 		alert("Please select some Value")
 	}
});

document.getElementById("select-specificity").addEventListener("change", function(event){
	renderLoader();
 	specificity = event.target.options[event.target.selectedIndex].innerHTML;
 	if(tissueName && specificity){
 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter}]]" + `?tissueName=${tissueName}&tissueSpecificity=${specificity}`

 		$.get(url, function(data, status){
			hideLoader();
 			if(data && data.length>0){

 				globalData = data;
 				
 				renderTable();
 			}
 			else{
 				console.log("0 Records returned")
 			}
 		
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
		});
 	}
 	else if(tissueName){
 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter/tissueName}]]" + `?tissueName=${tissueName}`

 		$.get(url, function(data, status){
 		hideLoader();
 			if(data && data.length>0){
 				globalData = data;
 				renderTable();
 			}
 			else{
 				console.log("0 Records returned")
 			}
 		
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
		});
 	}
 	else if(specificity){

 		url = "[[@{/tissue-specific-gene/api/tissue-specific-genes/filter/tissueSpecificity}]]" + `?tissueSpecificity=${specificity}`

 		$.get(url, function(data, status){
 			hideLoader();
 			if(data && data.length>0){

 				globalData = data;
 				renderTable();				
 			}
 			else{
 			alert("No records Found")
 			}
 		
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
		});
 	}
 	else{
 		alert("Please Select some Value")
 	}
 	
});

function closePopup(event){
	document.getElementById("overlay").style.visibility = "hidden";
	document.getElementById("overlay").style.zIndex = "-1";
}


function showPieChart(event){
	document.getElementById("overlay").style.visibility = "visible";
	document.getElementById("overlay").style.zIndex = "1";
}


function dropdownSelection(string){
	document.getElementById("dropdownMenuLink1").value = string;
	document.getElementById("listContainer").hidden = true;
	$("#listElements").empty()
}

$( document ).ready(function() {
	renderLoader()
	url = "[[@{/gene/api/genes/geneId/all}]]"
		$.get(url, function(data, status){
		
		uncheckedGeneData = new Set(data);
		geneIdSet = new Set(data);
		});
    	url = "[[@{/tissue-specific-gene/api/tissue-specific-genes}]]"
    	$.get(url, function(data, status){
    	geneData = data;
    	globalData = data;
    	totalRecords = data.length;
    	totalPages = Math.ceil(totalRecords/pageSize);
    	numberOfRecordsOfLastPage = totalRecords%pageSize;
    	renderTableNew();
 		pagination();
	});
	
	async function fetchCount(specificity){
		for(val of specificity){
			url_stat = "[[@{/tissue-specific-gene/api/tissue-specific-genes/stats/}]]" + val;
			await $.get(url_stat, function(count, status){
			if(count){
			 	pie_chart_values.push(count);
			 }
			else{
				console.log("Count not found");
				}
			});
		}
		return Promise.resolve(pie_chart_values);
	}
		
	async function fetchSpecificity(){		
		url_distinct =  "[[@{/tissue-specific-gene/api/tissue-specific-genes/distinct-specificity}]]"
		await $.get(url_distinct, function(datas, status){
			hideLoader();
			if(datas){
					pie_chart_labels = datas;
				}
			else{
				console.log("Not found data");
			}
		});
		return Promise.resolve(pie_chart_labels);
	}
	
	fetchSpecificity().then(
		function(value) {
			fetchCount(value).then(
				function(value) {
					var data = [{
	  						values: pie_chart_values,
	  						labels: pie_chart_labels,
	  						type: 'pie'
						}];

						var layout = {
	  						height: 400,
	 						width: 500
						};

						Plotly.newPlot('piechart', data, layout);
				},
 					function(error) {console.log(error);}
			)
		 },
  		function(error) { console.log("NOt found") }
	)
});

function renderTableNew(){
	isExpanded=false;	
	headerRow = "";
	let object1 = globalData[0];
	if(isCheckAll){
		headerRow = `<tr><td><div class="form-check"><input checked="true" onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
	}
	else{
		headerRow = `<tr><td><div class="form-check"><input onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
		}
	for(const [key, value] of Object.entries(object1)){
		td="";
		if(key.toUpperCase() == 'ID'){
			continue;
		}
		


		else if(key.toUpperCase() == 'TISSUE_SPECIFITY'){
			td = `<td>TISSUE SPECIFICITY</td>`;
		}

		else{
			td = `<td>${key.toUpperCase().replace("_", " ")}</td>`;
		}
		headerRow = headerRow + td;
		}
	headerRow = headerRow + "</tr>";			
	$("#genes").find("thead").empty();
  	$("#genes").find("tbody").empty();
	$("#genes").find("thead").append(headerRow);
	for(let i=init;i<last;i++){
		dataRow="<tr>";
		object1 = globalData[i];
		if(!object1){
			continue;
		}
		if(checkedGeneData.has(object1.geneId)){
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.geneId}></div></td>`;
		}
		else{
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" value=${i} id=${object1.geneId}></div></td>`;
		}
		for(const [key, value] of Object.entries(object1)){		
			td="";
			if(key.toUpperCase() == 'ID'){
				continue;
			}
			if(key.toUpperCase() == 'GENEID'){
				td = `<td><a style="color:blue;" onclick="showGeneDescription(this)">${value}</a></td>`;
			}				
			else{
				td = `<td>${value}</td>`;
			}
			dataRow = dataRow + td;
		}
		dataRow = dataRow + "</tr>";

		$("#genes").find("tbody").append(dataRow);	
	}
}



document.getElementById("firstPage").addEventListener("click", function(event){
		if(pageNum>1){
			init = 0;
			last = 10;
			pageNum = 1;
			pagination();
	  		event.preventDefault();
			$("#genes").find("tbody").empty();
			renderTableNew();
		}
});
document.getElementById("nextPage").addEventListener("click", function(event){
	if(pageNum!=totalPages){
			init = init + pageSize;
			last = last + pageSize;
			if(last>totalRecords){
				last = last - numberOfRecordsOfLastPage; 
			}
			pageNum = pageNum + 1;
			pagination();
	  		event.preventDefault();
	  		
			renderTableNew();
		}
});
document.getElementById("lastPage").addEventListener("click", function(event){
	if(pageNum!=totalPages){
		var new_init = totalRecords - numberOfRecordsOfLastPage;
		var new_last = totalRecords;
		init = new_init;
		last = new_last;
		pageNum = totalPages;
		pagination();
  		event.preventDefault();
  		renderTableNew();
  		}
});
document.getElementById("previousPage").addEventListener("click", function(event){
		if(pageNum>1){
		pageNum = pageNum - 1;
		init = init - pageSize;
		
		if(pageNum == totalPages - 1){
			last = last - Math.ceil(pageSize/2);
		}
		else{
			last = last - 10;
		}
		pagination();
  		event.preventDefault();
  		renderTableNew();
  		}
 	
});
function pagination(){
	var pageInfo = "";
	$("#pageInfo").empty();
	if(pageNum<=1){
		$("#firstPage").addClass("page-item disabled");
		$("#previousPage").addClass("page-item disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");	
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${1} to ${totalRecords} of ${totalRecords}</span>`		
		}
	}
	else if(pageNum>1){
		$("#firstPage").removeClass("disabled");
		$("#previousPage").removeClass("disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${totalRecords - numberOfRecordsOfLastPage} to ${totalRecords} of ${totalRecords}</span>`
		}
	}
	$("#pageInfo").append(pageInfo);
}
	function validateCheckBox(form){
		init=0;
		last=1;
		totalRecords = 1
		totalPages = 1
		pageNum=1;
		checkedGeneData = new Set();
		pagination();
	    $("#genes").find("tbody").empty();
		var selectedValue = $("input[name=searchParam]:checked").val();
		var textValue = $("input[name=searchText]").val();
		if(textValue == "+"){
			textValue = "%2B";
		}
		if(!selectedValue){
            $("#radio-error").text("Please select a search parameter");   
            } 
            else {  
            $("#radio-error").empty();
            
            url = "[[@{/gene/api/genes/query/geneIds}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
            $.get(url, function(data, status){	
            		geneIdSet = new Set(data);
            		console.log(geneIdSet)
            	});
            
			url = "[[@{/gene/api/genes/query}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
			$.get(url, function(data, status){
			
				globalGeneData = data;
				
				if(data.length==0){
					pageInfo = `No Records found`
					init=0;
					last=0;
					$("#pageInfo").empty();
					$("#pageInfo").append(pageInfo);
				}
				else{
					init=0;
					last=pageSize;
					if(globalGeneData.length<pageSize){
						last = globalGeneData.length;
					}
					totalRecords = globalGeneData.length;
					totalPages = Math.ceil(globalGeneData.length/pageSize);
					numberOfRecordsOfLastPage = totalRecords%pageSize;
					pagination();
					headerRow = '<tr><td><div class="form-check"><input onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead"></div></td><td>GENE ID</td><td>GENE NAME</td><td>CHROMOSOME</td><td>STRAND</td><td>LOCUS</td></tr>';
			    	$("#genes").find("thead").empty();
					$("#genes").find("thead").append(headerRow);
					for(let i=init;i<last;i++){
			  			dataRow = `<tr><td><div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div></td><td>${globalGeneData[i].geneId}</td><td>${globalGeneData[i].geneName}</td><td>${globalGeneData[i].chromosome}</td><td>${globalGeneData[i].strand}</td><td>${globalGeneData[i].locus}</td></tr>`
						$("#genes").find("tbody").append(dataRow);   		 
 					}
				}
			  });	
            }
		return false;
	}
	
$(document).ready (function () {  
   $('#genes').after ('<div id="nav"></div>');  
   var rowsShown = 5;  
   var rowsTotal = $('#data tbody tr').length;  
   var numPages = rowsTotal/rowsShown;  
   for (i = 0;i < numPages;i++) {  
       var pageNum = i + 1;  
       $('#nav').append ('<a href="#" rel="'+i+'">'+pageNum+'</a> ');  
   }
   });
function checkBox(checkbox){
	index = checkbox.value;
	id = checkbox.id;
	if($(`#${id}:checkbox:checked`).length>0){
		checkedGeneData.add(id)
		uncheckedGeneData.delete(id)
		
	}else{
	
		checkedGeneData.delete(id)
		uncheckedGeneData.add(id)
	}
	renderTableNew()
}
 
 function checkAll(checkbox){
 	 
 	if ($(checkbox).is(':checked')) {
 		    isCheckAll = true;	   		
	 		checkedGeneData = new Set(idSet);	
	 		uncheckedGeneData = new Set(); 		
    } else {
        	isCheckAll = false;
			checkedGeneData = new Set();
	 		uncheckedGeneData = new Set(idSet);
 	}

 	renderTableNew();
 }

 
 function fetchGenes(btn){
 	payload_1 = [...checkedGeneData]
 	payload_2 = payload_1.splice(0, Math.floor(payload_1.length/2));
 	resposeData_1 = [];
 	responseData_2 = [];
 	url = "[[@{/gene/api/genes/download/geneIds}]]"
 	params = {geneIds: payload_1};
 	$.post(url, params, function(data, status){
 		responseData_1 = data;
 		index = responseData_1.indexOf("\n")
        responseData_1 = responseData_1.substring(index+1, responseData_1.length);
 		params = {geneIds: payload_2};
 		$.post(url, params, function(data, status){
	 		responseData_2 = data;
	 		responseData = responseData_2.concat(responseData_1);
	 		const blob = new Blob([responseData], { type: 'text/csv' });
	 		const urls = window.URL.createObjectURL(blob);
	 		const a = document.createElement('a');
		    a.setAttribute('href', urls);
		    a.setAttribute('download', 'genes.csv'); 
		    a.click();
	     	});
 	});
 }
 
</script>
</body>
</html>