<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Database - BUFFEXDB</title>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="parent">
	<div class="container-fluid">
		<div>
			<div class="nav-bg">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg text-white nav-border-style">
							<div>
								<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/icar.png}" height="100px" width="100px" class='spinning'/>
								</a>
							</div>
							<h1 class="mx-5 px-5"><i>BuffExDb</i></h1>
								
						</nav>
					</div>
					<div class="col">
						<div class="d-flex align-items-center text-white">
						
						<marquee behavior="scroll" direction="left"><h1>Buffalo Expression Database</h1></marquee>
						<div class="d-flex align-items-center justify-content-end pt-2 px-5">
						    
							<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/icar.png}" height="100px" width="100px"/>
							</a>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav-with-button-bg">
			<nav class="navbar navbar-expand-lg text-nowrap fw-bold">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
						<div class="collapse navbar-collapse topNavBar" id="topNavbar" aria-haspopup="true" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/}">Home</a>
						</li>
						
						
						
						<li class="nav-item text-white fs-5">
							 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							      <ul class="navbar-nav">
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							            Browse
							          </a>
							          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							            <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
								    	<li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue}">Expression data</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue_specific_genes}">Tissue Specific Genes</a></li>
							            <li><a class="dropdown-item" th:href="@{/database/pathways}">Functional Annotation</a></li>
							          </ul>
							        </li>
							      </ul>
							  </div>
							</li>
							
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/about}">Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/downloads}">Downloads</a>
						</li>
					</ul>					
			</div>			

			</nav>
		</div>
		
		<div class="overflow-hidden" style="height:400px">
		<img  class="img-fluid w-100" th:src="@{/images/samples.jpeg}" />
		
			
		</div>
		<div class="border">
			<div class="p-2">
			<div class="row w-100" style="height:100px">
			<div class="col">
			<form class="" id="queryForm" method="post" onSubmit="return validateCheckBox(this);">
				<input class="form-input" type="text" name="database" th:value="${database}" hidden=true>
				<div class="input-group mb-2">
				  <input required type="text" class="form-control" name="searchText" placeholder="Type Here" aria-label="Recipient's username" id="searchText">
				  <button class="btn btn-outline-secondary" type="submit" id="search">Search</button>
				</div>
				<div class="align-middle mb-2">
				  <input class="form-check-input" type="radio" name="searchParam" id="bioProject" value="bioProject">
				  <label class="form-check-label" for="flexRadioDefault1">
				    BIO PROJECT
				  </label>
				   <input class="form-check-input" type="radio" name="searchParam" id="breed" value="breed">
				  <label class="form-check-label" for="flexRadioDefault1">
				    BREED
				  </label>
				   <input class="form-check-input" type="radio" name="searchParam" id="condition_treatment" value="condition_treatment">
				  <label class="form-check-label" for="flexRadioDefault1">
				    CONDITION/TREATMENT
				  </label>
				     <input class="form-check-input" type="radio" name="searchParam" id="tissue" value="tissue">
				  <label class="form-check-label" for="flexRadioDefault1">
				    TISSUES
				  </label>
				  <input class="form-check-input" type="radio" name="searchParam" id="category" value="category">
				  <label class="form-check-label" for="flexRadioDefault1">
				    CATEGORY
				  </label>
				</div>
				
				<div id="radio-error" class="input-group w-25 fs-6 text-danger text-nowrap" style="height:20px"></div>
				</form>
				</div>
				<div class="col">
					<div class="input-group position-relative ">
						  <input required placeholder="Run Id" id="dropdownMenuLink1" type="text" class="form-control w-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						  <button class="btn btn-outline-secondary" type="button" id="btn-searchGeneByName">Search</button>
					</div>
<!-- ---------------------------------List Container ---------------------------------------------------------------------------------------------->
					<div hidden=true id="listContainer" class=" position-absolute bg-light  overflow-auto text-nowrap border rounded-bottom" style="height:200px; width:560px;">
						  	<div id="listElements" >
						  	</div>
					 </div>
				     <div id="input-error" class="input-group w-25 fs-6 text-danger text-nowrap" style="height:20px;z-index:-1;"></div>
					</div>
				</div>				
			</div>
		<div class="p-2" style="background-color:rgb(38,80,115);color:white;">
			<h3 class="text-center">Sample Description</h3>
		</div>
		<div class="m-2">
			<button type="button" class="btn btn-success" onclick="arrayOfObjectsToCSV('sample_description')">Download Selected</button>		
		</div>
 		<div class="overflow-auto text-nowrap p-2">
 		<table class="table table-striped border table-bordered" id="genes">
			  <thead class="table-dark">
			  </thead>
			  <tbody>
			    
			  </tbody>
			</table>
		</div>
		</div>
		
		<div class="mx-auto mt-2" style="width: 500px;">
			<div class="justify-content-center text-center" id="pageInfo" >
		
			</div>
		 	<ul class="pagination justify-content-center">
			   <li id="firstPage"><a class="page-link">First</a></li>
			    <li id="previousPage"><a class="page-link">Previous</a></li>
			   
			    <li id="nextPage"><a class="page-link" >Next</a></li>
			     <li id="lastPage"><a class="page-link" >Last</a></li>
			</ul>
		</div>
	<div class="footer">
			<div class="sub-footer pt-2">
				<h1>BuffExDb: Buffalo Expression Database</h1>
			</div>
			<div class="sub-footer">
				<p>Copyright &copy; ICAR-Indian Agricultural Statistics Researh Institute</p>
			</div>
		</div>
		
	</div>
	<div class="overlay-loader" id="table_loader_bg">
	 				<div class="fixed w-100">
	 					<div class="popup-loader" id="table_loader"></div>
					</div>
	</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript">
var	init = 0;
var	last = 10;
var pageSize = 10;
var pageNum = 1;
var totalRecords = 0;
var totalPages = 0;
var numberOfRecordsOfLastPage = 0;
var fetchedData = [];
var globalData = [];
var checkedData = new Set();
var uncheckedData = new Set();
var idSet = new Set();
var isCheckAll = false;

function filterArrayByProperty(array) {
    return array.filter(item => checkedData.has(item.run));
}

function arrayOfObjectsToCSV(filename = 'data.csv') {

	try{
		renderLoader()
		let dataArray = []
	
		if(isCheckAll){
			dataArray = globalData;
		}
		else{
			dataArray = filterArrayByProperty(globalData)
		}
	    if (dataArray.length === 0) {
	    	hideLoader()
	       	alert("Select atleast one row to download")
	        return;
	    }
	
	    const headers = Object.keys(dataArray[0]);
	    
	    const rows = dataArray.map(obj => headers.map(header => `"${obj[header]}"`));

	    rows.unshift(headers.map(header => `"${header}"`));
	    
	    const csvContent = rows.map(row => row.join(",")).join("\n");
	
	    const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
	
	    const link = document.createElement("a");
	    if (link.download !== undefined) { // feature detection
	        const url = URL.createObjectURL(blob);
	        link.setAttribute("href", url);
	
	        link.setAttribute("download", filename);
	
	        document.body.appendChild(link);

	        link.click();
	
	        document.body.removeChild(link);
	    }
	    hideLoader();
	}catch(e){
		hideLoader()
		alert("Something went wrong. Please contact system admin")
	}
	
}


document.getElementById("dropdownMenuLink1").addEventListener("input", function(event){
 	$("#listElements").empty();  
	var inputVal = document.getElementById("dropdownMenuLink1").value;
	if(inputVal==""){
		document.getElementById("listContainer").hidden = true;
	}
	else{
		document.getElementById("listContainer").hidden = false;
	}
	var newArray = fetchedData.filter(function (el) {
			return el.run.startsWith(inputVal);
			});
		if(newArray.length==0){
			var span = `<span class="p-2">No results found</span>`
			$("#listElements").append(span); 
		}
		for(let i=0;i<newArray.length;i++){
			var anchor = `<div onclick="dropdownSelection('${newArray[i].run}')" class="dropdown-list px-2 py-1 fw-bold">${newArray[i].run}</div>`
			$("#listElements").append(anchor);   
		}
});

function dropdownSelection(string){
	document.getElementById("dropdownMenuLink1").value = string;
	document.getElementById("listContainer").hidden = true;
	$("#listElements").empty()
}
function renderTableNew(){

	isExpanded=false;	
	headerRow = "";
	let object1 = globalData[0];
	
	if(isCheckAll){
		headerRow = `<tr><td><div class="form-check"><input checked="true" onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
	}
	else{
		headerRow = `<tr><td><div class="form-check"><input onclick="checkAll(this)" class="form-check-input" type="checkbox" value="head" id="checkAll" name="cbSelectHead" ></div></td>`;
		}
	for(const [key, value] of Object.entries(object1)){
		td="";
		if(key.toUpperCase() == 'GENE'){
			td = `<td><div>GENE ID <i class="fa-solid fa-circle-plus ml-5"></i></div></td>`;
		}
		else if(key.toUpperCase() == 'ID'){
			continue;
		}
		else if(key.toUpperCase() == 'BIOPROJECT'){
			td = `<td>BIO PROJECT</td>`;
		}
		else if(key.toUpperCase() == 'BIOSAMPLE'){
			td = `<td>BIO SAMPLE</td>`;
		}
		else if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
	
			if(isFpkm){
				td = td + `<td><a onclick="showSampleDescription(this)">${key.toUpperCase()} </a>(FPKM)</td>`;
			}
			if(isTpm){
				td = td + `<td><a onclick="showSampleDescription(this)">${key.toUpperCase()}</a> (TPM)</td>`;
			}		
		}
		else{
			td = `<td>${key.toUpperCase().replace('_', ' ')}</td>`;
		}
		headerRow = headerRow + td;
		}
	headerRow = headerRow + "</tr>";			
	$("#genes").find("thead").empty();
  	$("#genes").find("tbody").empty();
	$("#genes").find("thead").append(headerRow);
	
	
	for(let i=init;i<last;i++){
		dataRow="<tr>";
		object1 = globalData[i];

		if(checkedData.has(object1.run)){
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" checked="true" value=${i} id=${object1.run}></div></td>`;
		}
		else{
			dataRow= dataRow + `<td><div class="form-check"><input onclick="checkBox(this)" name="cbSelect" class="form-check-input" type="checkbox" value=${i} id=${object1.run}></div></td>`;
		}
		for(const [key, value] of Object.entries(object1)){		
			td="";
			if(key.toUpperCase() == 'GENEID'){
				td = `<td><a style="color:blue;" onclick="showGeneDescription(this)">${value}</a></td>`;
			}
			else if(key.toUpperCase() == 'ID'){
				continue;
			}				
			else if(key.toUpperCase().includes("ERR") || key.toUpperCase().includes("SRR")){
				
				if(isFpkm){
					
					td = td + `<td>${value}</td>`;
				}
				if(isTpm){
				    tpm = getTPM(value, key.toUpperCase());
					td = td + `<td>${tpm}</td>`;
				}
				
			}
			else if(key.toUpperCase() == 'BIOPROJECT'){
				td = `<td><a target=”_blank” href="https://www.ncbi.nlm.nih.gov/bioproject/${value}">${value}</td>`;
			}
			else if(key.toUpperCase() == 'BIOSAMPLE'){
				td = `<td><a target=”_blank” href="https://www.ncbi.nlm.nih.gov/biosample/${value}">${value}</td>`;
			}
			else{
				td = `<td>${value}</td>`;
			}
			dataRow = dataRow + td;
		}
		dataRow = dataRow + "</tr>";

		$("#genes").find("tbody").append(dataRow);	
	}
}


$( document ).ready(function() {
	renderLoader()
	url = "[[@{/sample_description/api/sample_descriptions/runIds/all}]]"
	$.get(url, function(data, status){
		uncheckedData = new Set(data);
		idSet = new Set(data);
	}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
    url = "[[@{/sample_description/api/sample_descriptions}]]"
    	$.get(url, function(data, status){
    	hideLoader();
    	fetchedData = data;
    	globalData = data;
    	totalRecords = data.length;
    	totalPages = Math.ceil(totalRecords/pageSize);
    	numberOfRecordsOfLastPage = totalRecords%pageSize;
    	renderTableNew();
 		pagination();
		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
		});
});

document.getElementById("btn-searchGeneByName").addEventListener("click", function(event){

	searchText = document.getElementById("dropdownMenuLink1").value
	if(!searchText){
		hideLoader()
		document.getElementById("input-error").innerHTML = "Please enter Run ID"
	}
	else{
		url = "[[@{/sample_description/api/sample_descriptions/}]]" + searchText
		$.get(url, function(data, status){
			globalData = [data];
				init=0;
				last=1;
				totalRecords = 1
				totalPages = 1
				pageNum=1;
				pagination();
				checkedData = new Set();
			    $("#genes").find("tbody").empty();
			if(!data){
				pageInfo = `No Records found`
				init=0;
				last=0;
				$("#pageInfo").empty();
				$("#pageInfo").append(pageInfo);
			}
			renderTableNew() 
		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
	});
	}
	
})

document.getElementById("firstPage").addEventListener("click", function(event){
		if(pageNum>1){
			init = 0;
			last = 10;
			pageNum = 1;
			pagination();
	  		event.preventDefault();
			$("#genes").find("tbody").empty();
			renderTableNew()
			}
});
document.getElementById("nextPage").addEventListener("click", function(event){
		if(pageNum!=totalPages){
			init = init + pageSize;
			last = last + pageSize;
			if(last>totalRecords){
				last = last - numberOfRecordsOfLastPage; 
			}
			pageNum = pageNum + 1;
			pagination();
	  		event.preventDefault();
	  		renderTableNew()
	  		}

});
document.getElementById("lastPage").addEventListener("click", function(event){

		if(pageNum!=totalPages){
			var new_init = totalRecords - numberOfRecordsOfLastPage;
			var new_last = totalRecords;
			init = new_init;
			last = new_last;
			pageNum = totalPages;
			pagination();
	  		event.preventDefault();
	  		renderTableNew();
	  		}
});
document.getElementById("previousPage").addEventListener("click", function(event){
		 if(pageNum>1){
			pageNum = pageNum - 1;
			init = init - pageSize;
			
			if(pageNum == totalPages - 1){
				last = last - Math.ceil(pageSize/2);
			}
			else{
				last = last - 10;
			}
			pagination();
	  		event.preventDefault();
	  		renderTableNew()
	  		}
 	
});

function pagination(){
	var pageInfo = "";
	$("#pageInfo").empty();
	if(pageNum<=1){
		$("#firstPage").addClass("page-item disabled");
		$("#previousPage").addClass("page-item disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");	
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${1} to ${totalRecords} of ${totalRecords}</span>`		
		}
	}
	else if(pageNum>1){
		$("#firstPage").removeClass("disabled");
		$("#previousPage").removeClass("disabled");
		$("#nextPage").removeClass("disabled");
		$("#lastPage").removeClass("disabled");
		pageInfo = `<span>Showing rows #  ${init+1} to ${last} of ${totalRecords}</span>`
		if(pageNum==totalPages){
			$("#nextPage").addClass("page-item disabled");
			$("#lastPage").addClass("page-item disabled");
			pageInfo = `<span>Showing rows #  ${totalRecords - numberOfRecordsOfLastPage} to ${totalRecords} of ${totalRecords}</span>`
		}
	}
	$("#pageInfo").append(pageInfo);
}
	function validateCheckBox(form){
		renderLoader();
		var selectedValue = $("input[name=searchParam]:checked").val();
		var textValue = $("input[name=searchText]").val();
		if(textValue == "+"){
			textValue = "%2B";
		}
		if(!selectedValue){
            $("#radio-error").text("Please select a search parameter");
            hideLoader()   
            } 
         else {  
	         $("#radio-error").empty();
	         
	         url = "[[@{/sample_description/api/sample_descriptions/query/runIds}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
	         $.get(url, function(data, status){	
	         		idSet = new Set(data);
         	});
         	console.log(selectedValue, ":", textValue)
			url = "[[@{/sample_description/api/sample_descriptions/query}]]" + `?searchParam=${selectedValue}&searchText=${textValue}`;
			$.get(url, function(data, status){
				hideLoader();
				init=0;
				last=1;
				totalRecords = 1
				totalPages = 1
				pageNum=1;
				checkedData = new Set();
				pagination();
			    $("#genes").find("tbody").empty();
				globalData = data;
				if(data.length==0){
					pageInfo = `No Records found`
					init=0;
					last=0;
					$("#pageInfo").empty();
					$("#pageInfo").append(pageInfo);
				}
				else{
					init=0;
					last=pageSize;
					if(globalData.length<pageSize){
						last = globalData.length;
					}
					totalRecords = globalData.length;
					totalPages = Math.ceil(globalData.length/pageSize);
					numberOfRecordsOfLastPage = totalRecords%pageSize;
					pagination();
					renderTableNew()
				}
			 	 }).fail(function(jqXHR, textStatus, errorThrown) {
	    			// Handle errors
	    			hideLoader();
	    			alert('There was a problem with the request');
				});	
         }
		return false;
	}
	
	$(document).ready (function () {  
    $('#genes').after ('<div id="nav"></div>');  
    var rowsShown = 5;  
    var rowsTotal = $('#data tbody tr').length;  
    var numPages = rowsTotal/rowsShown;  
    for (i = 0;i < numPages;i++) {  
        var pageNum = i + 1;  
        $('#nav').append ('<a href="#" rel="'+i+'">'+pageNum+'</a> ');  
    }
    });
    
function checkBox(checkbox){
	index = checkbox.value;
	id = checkbox.id;
	if($(`#${id}:checkbox:checked`).length>0){
		checkedData.add(id)
		uncheckedData.delete(id)
		
	}else{

		checkedData.delete(id)
		uncheckedData.add(id)
	}
	renderTableNew()
}
 
 function checkAll(checkbox){
 	 
 	if ($(checkbox).is(':checked')) {
 		    isCheckAll = true;	   		
	 		checkedData = new Set(idSet);	
	 		uncheckedData = new Set(); 		
    } else {
        	isCheckAll = false;
			checkedData = new Set();
	 		uncheckedData = new Set(idSet);
 	}

 	renderTableNew();
 }
 
 function fetchGenes(btn){
 	renderLoader();
 	payload_1 = [...checkedData]
 	payload_2 = payload_1.splice(0, Math.floor(payload_1.length/2));
 	resposeData_1 = [];
 	responseData_2 = [];
 	url = "[[@{/sample_description/api/sample_descriptions/download/runIds}]]"
 	params = {runIds: payload_1};
 	$.post(url, params, function(data, status){
 		responseData_1 = data;
 		index = responseData_1.indexOf("\n")
        responseData_1 = responseData_1.substring(index+1, responseData_1.length);
 		params = {runIds: payload_2};
 		$.post(url, params, function(data, status){
 		hideLoader();
	 		responseData_2 = data;
	 		responseData = responseData_2.concat(responseData_1);
	 		const blob = new Blob([responseData], { type: 'text/csv' });
	 		const urls = window.URL.createObjectURL(blob);
	 		const a = document.createElement('a');
		    a.setAttribute('href', urls);
		    a.setAttribute('download', 'sample_description.csv'); 
		    a.click();
	     	}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
			});
 		}).fail(function(jqXHR, textStatus, errorThrown) {
    		// Handle errors
    		hideLoader();
    		alert('There was a problem with the request');
		});
 }
  function hideLoader(){
	$("#table_loader").empty();
	document.getElementById("table_loader_bg").style.visibility = "hidden";
}

function renderLoader(){
	document.getElementById("table_loader_bg").style.visibility = "visible";
	loader = `<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span class="visually-hidden">Loading...</span></div>`;
	$("#table_loader").append(loader);
}
</script>
</body>
</html>