<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Database - BUFFEXDB</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	

<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
</head>
<body class="">
	<div class="container-fluid">
		<div>
			<div class="nav-bg">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg text-white nav-border-style">
							<div>
								<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/icar.png}" height="100px" width="100px" class='spinning'/>
								</a>
							</div>
							<h1 class="mx-5 px-5">BuffExDB</h1>
								
						</nav>
					</div>
					<div class="col">
						<div class="d-flex align-items-center text-white">
						
						<marquee behavior="scroll" direction="left"><h1>Buffalo Expression Database</h1></marquee>
				 		<div class="d-flex align-items-center justify-content-end pt-2 px-5">
						    
							<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/icar.png}" height="100px" width="100px"/>
							</a>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="nav-with-button-bg">
			<nav class="navbar navbar-expand-lg text-nowrap fw-bold">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse topNavBar" id="topNavbar" aria-haspopup="true" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/}">Home</a>
						</li>
						
						
						
						<li class="nav-item text-white fs-5">
							 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
							      <ul class="navbar-nav">
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							            Browse
							          </a>
							          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							            <li><a class="dropdown-item" th:href="@{/database/genes}">Gene Description</a></li>
								    	<li><a class="dropdown-item" th:href="@{/database/sample_description}">Sample Description</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue}">Expression data</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/tissue_specific_genes}">Tissue Specific Genes</a></li>
								   		<li><a class="dropdown-item" th:href="@{/database/pathways}">Functional Classification</a></li>
							          </ul>
							        </li>
							      </ul>
							  </div>
							</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/about}">Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fs-5" th:href="@{/downloads}">Downloads</a>
						</li>
					</ul>					
			</div>				
			</nav>
		</div>
		<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
		  <div class="carousel-inner">
		    <div class="carousel-item active background-image-1" >
		      <!--  <img th:src="@{/images/buff4-new.jpeg}" class="d-block w-100" alt="..."  style="height:400px">-->
		    </div>
		    <div class="carousel-item background-image-2">
		      <!--  <img th:src="@{/images/buff2.jpeg}" class="d-block w-100" alt="..."  style="height:400px">-->
		    </div>
		    <div class="carousel-item background-image-3">
		      <!-- <img th:src="@{/images/buff3.jpeg}" class="d-block w-100" alt="..."  style="height:400px"> -->
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
		

		
		<div class="introduction-section">

		<div class="intro">

			<p>
				<B>BUFFALO EXPRESSION DATABASE (BuFFExDB)</B> is a repository of gene expression profiles derived from RNA-Seq experiments of different tissues from the <I>Bubalus bubalis</I> (buffalo) species.
			</p>
		</div>
    <div class="stat-container">
    	<div class="header_box">
		   <h2 style="text-align:center"> <B>DATA STATISTICS</B></h2>
		</div>

	    <div id="stats" class="d-flex justify-content-center gap-4 border p-5">
	    	<div class="stat-card">
	    		<div class = "stat-text-header fw-bolder">
	    			<p class="text-center text-nowrap">RNA-Seq data</p>
	    		</div>
	    		<div>
	    			<img th:src="@{/images/rna-seq.jpg}" style="height:80px; width:100%;"/>
	    		</div>
	    		<div class = "stat-text-data fw-bold">
	    			<p class="text-center fs-5 " id='rna'>
	    				2429
	    			</p>
	    		</div>
	    	</div>
	    	 	<div class="stat-card">
	    		<div class = "stat-text-header fw-bolder">
	    			<p class="text-center">Bio Samples</p>
	    		</div>
	    		<div>
	    			<img th:src="@{/images/sample2.jpeg}" style="height:80px; width:100%;"/>
	    		</div>
	    		<div class = "stat-text-data fw-bold">
	    			<p class="text-center fs-5 " id='sample'>
	    				438
	    			</p>
	    		</div>
	    	</div>
	    	 	<div class="stat-card">
	    		<div class = "stat-text-header fw-bolder">
	    			<p class="text-center">Bio Projects</p>
	    		</div>
	    		<div>
	    			<img th:src="@{/images/bioproject.jpg}" style="height:80px; width:100%"/>
	    		</div>
	    		<div class = "stat-text-data fw-bold">
	    			<p class="text-center fs-5" id='project'>
	    				23
	    			</p>
	    		</div>
	    	</div>
	    	 	<div class="stat-card">
	    		<div class = "stat-text-header fw-bolder">
	    			<p class="text-center">Tissues</p>
	    		</div>
	    		<div>
	    			<img th:src="@{/images/tissue.jpg}" style="height:80px; width:100%"/>
	    		</div>
	    		<div class = "stat-text-data fw-bold">
	    			<p class="text-center fs-5 " id='tissue'>
	    				76
	    			</p>
	    		</div>
	    	</div>
	    	
    	</div>
    </div>
	
	<div class="method_section">
		<div class="header_box">
		   <h2 style="text-align:center"> <B>DATA ANALYSIS PIPELINE</B></h2>
		</div>
		<div class=' border'>
			<img th:src="@{/images/pipeline.jpeg}" class="img_method" alt="..."  style="height:500px width=auto; display:block; margin:0 auto; border:none;">
		</div>
		
	</div>
	
		<div class="footer">
			
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="d-flex">
					<div class="p-2 mr-4">
						    
						<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/IARI-Logo.jpg}" height="100px" width="100px"/>
						</a>
					</div>
				
					<div class="p-2 mr-4">
						    
						<a class="navbar-brand" th:href="@{/}"> <img class="rounded-border" th:src="@{/images/iasris.jpeg}" height="100px" width="100px"/>
						</a>
					</div>
				</div>
				<div class="p-2 text-center flex-grow-1">
					<div class="sub-footer pt-2">
						<h1>BuffExDB: Buffalo Expression Database</h1>
					</div>
					<div class="sub-footer">
						<p> Copyright &copy; ICAR-Indian Agricultural Statistics Researh Institute</p>
					</div>
				</div>
				
				
				<div class="globe-container">
					<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5hpljdi7n6u&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;bv=60" async="async">
					</script>
				</div>

			</div>
		</div>
	</div>
	
<script>

$(document).ready(function(){
	
	for (let i=1000; i<=2429; i=i+1) { 
	   taskRNA(i); 
		} 	
		
})
$(document).ready(function(){
			
	for (let i=0; i<=438; i=i+1) { 
	   taskSample(i); 
		}

})
$(document).ready(function(){
	
	for (let i=0; i<=23; i=i+1) { 
	   taskProject(i); 
		}
})
$(document).ready(function(){
	
	for (let i=0; i<=76; i=i+1) { 
	   taskTissue(i); 
		}
})

function taskSample(i) { 
  setTimeout(function() { 
      // Add tasks to do
      document.getElementById("sample").innerHTML = `${i}`; 
  }, 10 * i); 
}
function taskProject(i) { 
  setTimeout(function() { 
      // Add tasks to do
      document.getElementById("project").innerHTML = `${i}`; 
  }, 100 * i); 
}
function taskTissue(i) { 
  setTimeout(function() { 
      // Add tasks to do
      document.getElementById("tissue").innerHTML = `${i}`; 
  }, 50 * i); 
}

function taskRNA(i) { 
  setTimeout(function() { 
      // Add tasks to do
      document.getElementById("rna").innerHTML = `${i}`; 
  }, 100 + i); 
}

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>
</html>